In [5]:
import pandas as pd
import calendar

#reading csv file
vc = pd.read_csv("../Data/vehicle_collisions.csv")

In [6]:
# Convert argument to datetime and adding column to 
vc['DATE_TIME'] = pd.to_datetime(vc['DATE'])

#Adding month column vc by fetch from DATE_TIME
vc['MONTH'] = pd.DatetimeIndex(vc['DATE_TIME']).month

#Adding year column vc by fetch from DATE_TIME
vc['YEAR'] = pd.DatetimeIndex(vc['DATE']).year

vc.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR,DATE_TIME,MONTH,YEAR
0,3146911,1/1/15,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN,2015-01-01,1,2015
1,3146180,1/1/15,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN,2015-01-01,1,2015
2,3146384,1/1/15,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN,2015-01-01,1,2015
3,3146013,1/1/15,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN,2015-01-01,1,2015
4,3146120,1/1/15,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN,2015-01-01,1,2015

In [23]:
#vehicle collisions in 2016
vc_in_2016 = vc[vc['YEAR']==2016] 

#vehicles Collisions in Manhattan in 2016
vc_2016_Manhattan = vc_in_2016[vc_in_2016['BOROUGH']=='MANHATTAN']

#manhattan count accidents in each month
vc_m2016_count_Manhattan = vc_2016_Manhattan.groupby(vc_2016_Manhattan['MONTH']).agg('count')

 # To get instances of the accidents by unique keys in Manhattan
vc_m2016_count_Manhattan_unique = vc_m2016_count_Manhattan['UNIQUE KEY']

#print(vc_m2016_count_Manhattan_unique)

#nyc count accidents in month
vc_m2016_count_nyc = vc_in_2016.groupby([vc_in_2016['MONTH']]).agg('count')

 #To get instances of the accidents by unique keys in New York Overall
vc_m2016_count_nyc_unique = vc_m2016_count_nyc['UNIQUE KEY']

In [24]:
result = pd.concat([vc_m2016_count_Manhattan_unique,vc_m2016_count_nyc_unique],axis=1)
#result This will show month index, Manhattan and NYC
result.columns.values[0]= "MANHATTAN"
result.columns.values[1]= "NYC"

#result This will add the percentage column after dividing the first two columns
result['PERCENTAGE']=result[['MANHATTAN']].div(result['NYC'],axis=0)

#TO Calculate % we need to multiple 100 to last row
result['PERCENTAGE']=result['PERCENTAGE'].apply(lambda x:x*100) 

result.index

#Adding the value of index from 1,2,3.. to Jan, Feb, March...etc
#result['MONTH'] = result.index.get_level_values('MONTH')

#import calendar
#result['MONTH'] = result.index.astype(str).astype(int).apply(lambda x: calendar.month_abbr[x])

result['MONTH'] = result.index.astype(str).astype(int)

result['MONTH'] = result['MONTH'].apply(lambda x: calendar.month_abbr[x])

result

finalresult = result[['MONTH','MANHATTAN','NYC','PERCENTAGE']]

finalresult

      MONTH  MANHATTAN    NYC  PERCENTAGE
MONTH
1       Jan       3178  18101   17.557041
2       Feb       3195  15985   19.987488
3       Mar       3479  18471   18.834930
4       Apr       3540  18331   19.311549
5       May       3432  20052   17.115500
6       Jun       2956  19433   15.211239
7       Jul       3055  19867   15.377259
8       Aug       2844  19678   14.452688
9       Sep       2744  19492   14.077570
10      Oct       2831  19666   14.395403
11      Nov       2838  19315   14.693244
12      Dec       2634  19214   13.708754

In [25]:
finalresult.to_csv('solution_q1_p1.csv',index=False,sep=',')